{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> 게시물 수정하기 </h1>
<form action="{%url 'posts:update' post.id%}" method="post">
    {% csrf_token %}
    <p> 상품명 : <input type="text" name="title" value ="{{post.title}}"></p>
    <p> 수량 : <input type="number" name="quantity" min="1" value="{{post.quantity}}"></p>
    <p> 총가격 : <input type="number" name="price" min="0" value="{{post.price}}"></p>
    <p> 목표인원 : <input type="number" name="people" min="1" value="{{post.people}}"></p>
    <p> 카테고리 : <input type="text" name="category" value ="{{post.category}}"></p>
    
    <button type="submit">제출</button>
</form>

{% endblock %}
