{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="body">
    <div class="category_cover">
        <!-- category -->
        <div class="category" id="category">
            <div>
                <img class="category_img" src="../static/images/vegetable.png" alt="vegetables">
                <p style="background-color: #aad4b3;">
                    <img style="width:40%;" src="../static/images/vegetable_icon.svg" alt=""><br>
                    <br>
                    식자재 <br>
                    - - - - - - - - - - <br>
                    <a class="green" href="{%url 'posts:food'%}">more</a>
                </p>
            </div>
            <div>
                <p style="background-color: #86cdd7;">
                    <img style="width:40%;" src="../static/images/plates_icon.svg" alt=""><br>
                    <br>
                    생필품 <br>
                    - - - - - - - - - - <br>
                    <a class="blue" href="{%url 'posts:daily_necessity'%}">more</a>
                </p>
                <img class="category_img" src="../static/images/plates.png" alt="plates">
            </div>
            <div>
                <img class="category_img" src="../static/images/netflix.png" alt="netflix">
                <p style="background-color: #8ddfd5;">
                    <img style="width:40%;" src="../static/images/netflix_icon.svg" alt=""><br>
                    <br>
                    OTT 서비스 <br>
                    - - - - - - - - - - <br>
                    <a class="lightseagreen" href="{%url 'posts:ott'%}">more</a>
                </p>
            </div>
            <div>
                <p style="background-color: #f3d6bf;">
                    <img style="width:40%;" src="../static/images/etc_icon.svg" alt=""><br>
                    <br>
                    기타 <br>
                    - - - - - - - - - - <br>
                    <a class="orange" href="{%url 'posts:etc'%}">more</a>
                </p>
                <img class="category_img" src="../static/images/etc.png" alt="etc">
            </div>
        </div>

    </div>
    <!-- recent -->
    <div class="recent_cover">

        <div class="recent" id="recent">
            {% for post in posts %}
            <a href="{%url 'posts:detail' post.id%}">
                {%if post.category == '식자재'%}
                <img src="../../static/images/vegetable_icon.svg" style="border:solid green 3px; border-radius:10%; background-color:#aad4b3; width:100%; height:100%;" alt="food">
                {%elif post.category == '생필품'%}
                <img src="../../static/images/plates_icon.svg" style="border:solid #06C2F4 3px; border-radius:10%; background-color:#86cdd7; width:100%; height:100%;" alt="daily_necessity">
                {%elif post.category == 'OTT 서비스'%}
                <img src="../../static/images/netflix_icon.svg" style="border:solid lightseagreen 3px; border-radius:10%; background-color:#8ddfd5; width:100%; height:100%;" alt="ott">
                {%else%}
                <img src="../../static/images/etc_icon.svg" style="border:solid orange 3px; border-radius:10%; background-color:#f3d6bf; width:100%; height:100%;" alt="etc">
                {%endif%}
            </a>
            {%endfor%}            
        </div>
    </div>
    <p class="more"><a href="{% url 'posts:recent_postlist'%}">더보기</a></p>

    <!-- subscribe -->
    {%if user.is_authenticated%}
    <div class="subscribe_cover">
        <div class="subscribe" id="subscribe">
            {% for my_post in my_posts %}
            <a href="{%url 'posts:detail' my_post.id%}">
                {%if my_post.category == '식자재'%}
                <img src="../../static/images/vegetable_icon.svg" style="border:solid green 3px; border-radius:10%; background-color:#aad4b3; width:100%; height:100%;" alt="food">
                {%elif my_post.category == '생필품'%}
                <img src="../../static/images/plates_icon.svg" style="border:solid #06C2F4 3px; border-radius:10%; background-color:#86cdd7; width:100%; height:100%;" alt="daily_necessity">
                {%elif my_post.category == 'OTT 서비스'%}
                <img src="../../static/images/netflix_icon.svg" style="border:solid lightseagreen 3px; border-radius:10%; background-color:#8ddfd5; width:100%; height:100%;" alt="ott">
                {%else%}
                <img src="../../static/images/etc_icon.svg" style="border:solid orange 3px; border-radius:10%; background-color:#f3d6bf; width:100%; height:100%;" alt="etc">
                {%endif%}
            </a>
            {%endfor%}           
            
        </div>
            
    </div>
    <p class="more"><a href="">더보기</a></p>
    {% endif %}

</div>


{% endblock %}